@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 20px 20px;
  background-image:
    linear-gradient(30deg, #48DE80 25%, transparent 25%),
    linear-gradient(30deg, transparent 75%, #48DE80 75%),
    linear-gradient(30deg, transparent 25%, #071e3d 25%),
    linear-gradient(30deg, #071e3d 75%, transparent 75%);
  background-position: 0 0, 20px 20px, 20px 20px, 0 0;
  animation: moveBackground 10s linear infinite;

}

@keyframes moveBackground {
  from {
    background-position: 0 0, 20px 20px, 20px 20px, 0 0;
  }

  to {
    background-position: 40px 40px, 60px 60px, 60px 60px, 40px 40px;
  }
}

.op-back {
  background-color: #3c415edf;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.circle-frame {
  border-radius: 50%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  position: relative;
  /* Added for positioning */
  border: #53690c;
  border-style: ridge;
  border-width: 5px;
  box-shadow: 0px 10px 50px 10px #b4ebfea9;
  margin-bottom: -10%;
  /* Horizontal offset, vertical offset, blur radius, color */
}

.adjusted-image {
  object-fit: cover;
  /* This will make sure the image covers the container fully without stretching */
  object-position: center top;
  /* Adjusts the position of the image. In this case, it moves the image down */
  width: 155%;
  /* Ensure it covers the full width of the parent */
  height: 155%;
  /* Ensure it covers the full height of the parent */
}

/* .p1{
  width: fit-content;
} */

.p2 {
  width: fit-content;
}

/******************* page.tsx ********************/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "nav content";
  height: 100vh;
}

.navigation {
  position: sticky;
  z-index: 10;
  grid-area: nav;
  background-color: #3c415edf;
  padding: 0.8em;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  top: 0;
  grid-gap: 20px;
  height: 100vh;
}

.content {
  grid-area: content;
  padding: 1em;
  overflow-y: auto;
  height: 100vh;
}

.profile-img {
  margin-right: 5px;
  margin-top: 20%;
  align-items: center;
}

/************************ Navigation **************************/
.nav {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  margin-top: 10%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.nav-link.active {
  color: #48DE80;
}


.nav-link {
  z-index: 10;
  margin: 1em 0;
  color: aliceblue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: larger;
}

.dropbtn {
  z-index: 10;
  background-color: #3c415e5d;
  color: aliceblue;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: larger;
}

.dropbtn.active {
  color: #48DE80;
}

.nav-link:hover {
  z-index: 10;
  color: #48DE80;
}

.dropdown {
  z-index: 10;
  position: relative;
  display: block;
}

/* Add a bounce-in keyframes animation */
@keyframes bounceIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  60% {
    transform: translateX(30%);
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.dropdown-content {
  z-index: 10;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 130%;
  /* Move it a bit more to the right */
  top: -170px;
  /* Move it a bit more to the top */
  transition: 0.5s ease-out;
  background-color: #738598dc;
  border-radius: 15px;
  color: #fff;
  animation: bounceIn 0.5s ease-out;
}

.dropdown:hover .dropdown-content {
  z-index: 10;
  display: block;
  transform: translateX(-15%);
  /* Move it a bit more to the left when hovered */
}

.dropdown:hover .dropdown-content:after {
  content: '';
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #48DE80 transparent transparent;
}

.dropbtn:hover {
  z-index: 10;
  color: #48DE80;
}

.web:hover {
  background-color: rgb(175, 240, 255);
  color: #48DE80;
}

.logo:hover {
  color: #48DE80;
}

/************************** Footer **************************/

.footer {
  font-family: 'Courier New', Courier, monospace;
  z-index: 2;
  grid-area: footer;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1;
  margin-top: -20%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  flex-direction: column;
}

.footer-icon {
  margin-top: 2rem;
  color: #ffffff;
  font-size: 1.8rem;
  /* Adjust the icon size here */
  transition: color 0.2s;
}

.footer-icon:hover {
  color: #48DE80;
  /* Change the hover color to match your theme */
}

.copyright {
  font-size: 0.8rem;
  color: aliceblue;
  margin-top: 2rem;
}

/******************* Home page *********************/

/* make a grid of two column for the intro */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.intro div:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro div:nth-child(even) {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}

.intro div:nth-child(2n) {
  grid-column: 2;
}

intro-img1 {
  width: 50%;
  height: 50%;
}


.intro-img2 {
  width: 50%;
  height: 50%;
}

/******************* Contact page *********************/
.formContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  color: aliceblue;
  height: 100vh;
}

.title {
  margin-bottom: -10%;
}

#contactForm {
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: min-content;
  width: 70%;
  gap: 10px;
}

#contactForm label {
  font-size: larger;
  justify-items: center;
}

#contactForm input,
#contactForm textarea {
  padding: 10px;
  border: 2px solid #48DE80;
  justify-items: center;
  border-radius: 5px;
  background-color: #3c415edf;
  color: aliceblue;
}

#contactForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #48DE80;
  color: aliceblue;
  cursor: pointer;
  font-size: larger;
  transition: background-color 0.2s;
}

#contactForm button:hover {
  background-color: #071e3d;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-items: center;
}


/* ********************* Mobile View *********************** */

@media (max-width: 768px) {
  
  .grid-container {
    display: block;
    padding-top: 20%;
  }


  .navigation {
    display: none;
    /* Hide the desktop navigation on mobile */
  }

  .mobile-nav {
    display: flex;
  }


  .content {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: relative; 
    z-index: 1; 
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #3c415edf;
    z-index: 1000;
  }

  .branding {
    /* Aligns the logo to the left */
    display: flex;
    align-items: center;
    margin-right: auto;
    /* Pushes everything else to the right */
  }

  .menu-button {
    background: none;
    border: none;
    color: rgb(237, 201, 0);
    font-size: 2rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* Below the nav bar */
    left: 0;
    right: 0;
    background-color: #3c415edf;
    /* Adjust to match your branding */
    color: rgb(237, 201, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    /* For smooth opening/closing */
    transform: translateY(-100%);
    /* Hide off-screen initially */
  }

  .menu.open {
    transform: translateY(0);
    /* Show menu */
  }

  .menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  .menu li {
    padding: 1rem;
    border-bottom: 1px solid #48DE80;
  }


  .intro {
    display: block;
    padding: 0.5rem;
    text-align: start;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .intro>div {
    margin-bottom: 1rem;
  }

  .adjusted-image {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
  }

  .circle-frame {
    border-radius: 30%;
    overflow: hidden;
    width: 50%;
    height: 50%;
    position: relative;
    border: #53690c;
    border-style: ridge;
    border-width: 5px;
    box-shadow: 0px 5px 20px 5px #b4ebfea9;
    margin-bottom: -10%;
    margin-left: 25%;
  }
  .intro h1,
  .intro h2,
  .intro h3 {
    font-size: 1.5rem;
  }

  .intro p {
    font-size: 1rem;
  }

  .mobile-v h1 {
    font-size: 2rem;
  }
}